---
layout: style
---

header {
    opacity: 0.9;
    background-position: top center;
    /*background-image: url('{{ site.baseurl }}/img/header-bg7.jpg') !important;*/
}

.equipe header {
    background-image: url(/img/palestras/header-bg.jpg);
}

.footer-block {
    padding-top: 5px;
}

@media (min-width: 768px) {
    .navbar-dark {
        background-color: #00000099;
    }
}

.container {
    opacity: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.card-dark-gradiente {
    /*background-color: darkgray;*/
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background: linear-gradient(141deg, #e1e6ea 0%, #d9dee2 51%, #bec3c7 75%);
}

blockquote {
    border-left: 0px solid #ecf0f1;
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.lista-depoimentos .item table td {
    vertical-align: middle;
}

.lista-depoimentos .item table td:nth-child(1) {
    width: 30%;
    padding-right: 20px;
}

.lista-depoimentos .item table td:nth-child(2) {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.lista-depoimentos .item table td figure {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.lista-depoimentos .item table td .texto {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    /*color: #fff;*/
}

.lista-depoimentos .item table td hr {
    /*border-top: solid 4px #fff;*/
    width: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.lista-depoimentos .item table td h3 {
    font-size: 15px;
    font-weight: 800;
    /*color: #fff;*/
    margin-top: 0;
    margin-bottom: 0;
}

.lista-depoimentos .carousel-indicators {
    bottom: -50px;
}

.lista-depoimentos .carousel-indicators li {
    background: transparent;
    border: solid 1px #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 3px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    list-style: none;
}

.lista-depoimentos .carousel-indicators li.active {
    background: #000;
}


/* Reunião com vinicius */

@media (min-width: 768px) {
    section {
        padding: 100px 0px 50px !important;
    }
}

p {
    font-size: 15px !important;
}

section h2.section-heading-treinamentos {
    text-decoration: underline;
}

.form-contact input, .form-contact textarea {
    color: #000000;
}

section#contato .form-group textarea.form-control {
    height: auto !important;
}

.text-black {
    color: #000000;
}

.text-underline {
    text-decoration: underline;
}