<div class="col-sm-6">
    <div class="card text-center" style="padding: 15px;">
        <a href="{{ include.link }}">
            <img class="card-img-top img-responsive" src="{{ include.img-src }}" alt="{{ include.img-alt }}">
        </a>
        <div class="card-header">
            <!--{{ include.card-header }}-->
        </div>
        <div class="card-body">
            <a href="{{ include.link }}">
                <h5 class="card-title text-primary">{{ include.card-title }}</h5>
            </a>
            <p class="card-text text-justify text-muted">
                {{ include.card-text }}
            </p>
            <!--<a href="{{ include.link }}" class="btn btn-primary">Veja mais...</a>-->
        </div>
        <div class="card-footer">
            <a href="{{ include.link }}" class="btn btn-primary">Veja mais...</a>
        </div>
    </div>
</div>