<section id="contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fale conosco</h2>
                    <h3 class="section-subheading text-primary">
                    </h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7 col-lg-6" style="padding-right: 30px;">

                    <script type="text/javascript">var contactSubmitted=false;</script>

                    <form name="gformContact" id="gformContact" enctype="text/plain"
                          action="https://docs.google.com/forms/d/e/1FAIpQLSeRnCQjV6953bcuNdycMHChcO6Vw1rmCPln0-SQR3LMN5Sbzg/formResponse?"
                          target="hidden_iframe" onsubmit="contactSubmitted=true;" class="form-contact">

                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(contactSubmitted) {}"></iframe>
                        <div class="indicates-required text-primary pull-right"><span class="asterisk">*</span> Campos Obrigatórios</div>
                        <div class="control-group form-group">
                            <label for="entry.1108926500" class="text-primary">Nome  <span class="asterisk">*</span></label>
                            <input type="text" value="" name="entry.1108926500" class="required form-control" id="entry.1108926500" required>
                        </div>
                        <div class="control-group form-group">
                            <label for="entry.1200432122" class="text-primary">E-mail  <span class="asterisk">*</span></label>
                            <input type="email" value="" name="entry.1200432122" class="required email form-control" id="entry.1200432122" required>
                        </div>
                        <div class="control-group form-group">
                            <label for="entry.1149200742" class="text-primary">Telefone</label>
	                        <input type="tel" name="entry.1149200742" class="form-control oc--phone" value="" id="entry.1149200742">
                        </div>

                        <div class="control-group form-group">
                            <label for="entry.1966700659" class="text-primary">Mensagem </label>
                            <textarea type="text" value="" name="entry.1966700659" class="form-control" id="entry.1966700659" rows="3"></textarea>
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response text-danger" id="mce-error-response" style="display:none"></div>
                            <div class="response text-success" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div class="clear clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <input type="submit" value="Enviar" name="subscribe" class="button btn btn-xl">
                        </div>
                    </form>

                </div>
                <div class="col-md-5 col-lg-5 col-lg-offset-1  bg-darkest-gray">
                    <h4 class="section-heading">Contatos:</h4>
                    <table class="table table-responsive text-primary">
                        <!--<tr>-->
                            <!--<td class="text-center">-->
                                <!--<span class="text-white">Vinicius Campos&lt;!&ndash; <i class="fab fa-whatsapp"></i>&ndash;&gt;:</span><br>-->
                                <!--<small>CEO | Professor e Palestrante</small>-->
                            <!--</td>-->
                            <!--<td><a href="tel:+5543998084747" class="text-white">+55 (43) 9 9808-4747</a> <small>(Tim)</small></td>-->
                        <!--</tr>-->
                        <tr>
                            <td class="text-center">
                                <span class="text-white">Alessandro Folk <i class="fab fa-whatsapp"></i>:</span><br>
                                <small>COO | Diretor Operacional</small>
                            </td>
                            <td><a href="tel:+5543998114457" class="text-white">+55 (43) 9 9811-4457</a> <small>(Tim)</small></td>
                        </tr>
                        <tr>
                            <!--<td class="text-right"><i class="fa fa-envelope"></i>:</td>-->
                            <td colspan="2" class="text-center"><a href="mailto:contato@communicaretreinamentos.com.br"><small>contato@communicaretreinamentos.com.br</small></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
