<section id="contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fale conosco</h2>
                    <h3 class="section-subheading text-primary">Cadastre-se abaixo que entraremos em contato para passar informações sobre os treinamentos.</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7 col-lg-6" style="padding-right: 30px;">
                    <form action="https://formspree.io/contato@communicaretreinamentos.com.br" method="POST" class="validate">
                        <div class="indicates-required text-primary pull-right"><span class="asterisk">*</span> campos obrigatórios</div>
                        <div class="control-group form-group">
                            <label for="NAME" class="text-primary">Nome  <span class="asterisk">*</span></label>
                            <input type="text" value="" name="FNAME" class="required form-control" id="NAME" required>
                        </div>
                        <div class="control-group form-group">
                            <label for="EMAIL" class="text-primary">E-mail  <span class="asterisk">*</span></label>
                            <input type="email" value="" name="_replyto" class="required email form-control" id="EMAIL" required>
                        </div>
                        <div class="control-group form-group">
                            <label for="PHONE" class="text-primary">Telefone</label>
	                        <input type="tel" name="PHONE" class="form-control" value="" id="PHONE">
                        </div>

                        <div class="control-group form-group">
                            <label for="MESSAGE" class="text-primary">Mensagem </label>
                            <textarea type="text" value="" name="MESSAGE" class="form-control" id="MESSAGE"></textarea>
                        </div>

                        <input type="hidden" name="_next" value="#" />
                        <input type="hidden" name="_subject" value="Contato pelo site!" />
                        <input type="hidden" name="_language" value="pt-BR" />
                        <input type="text" name="_gotcha" style="display:none" />

                        <div id="mce-responses" class="clear">
                            <div class="response text-danger" id="mce-error-response" style="display:none"></div>
                            <div class="response text-success" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div class="clear clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <input type="submit" value="Enviar" name="subscribe" class="button btn btn-xl">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-5 col-lg-offset-1  bg-darkest-gray">
                    <h4 class="section-heading">Contatos</h4>
                    <table class="table table-responsive text-primary">
                        <tr>
                            <td class="text-right"><i class="fab fa-whatsapp"></i>:</td>
                            <td><a href="tel:+5543996033611">+55 (43) 9 9603-3611</a></td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fab fa-whatsapp"></i>:</td>
                            <td><a href="tel:+5543999851513">+55 (43) 9 9985-1513</a></td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fa fa-envelope"></i>:</td>
                            <td><a href="mailto:contato@communicaretreinamentos.com.br"><small>contato@communicaretreinamentos.com.br</small></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
