    <!-- Header -->
    <header class="hipnose">
        <div class="container">
            <div class="intro-text">
                <blockquote class="intro-lead-in" style="text-shadow: 2px 2px 8px #222222; background-color: #222222b3;">
                    Quer descobrir o poder da sua mente?<br>
                    <span class="">SIM, Você Pode!</span>
                </blockquote>
                <blockquote cite="ARISTÓTELES" style="text-shadow: 2px 2px 8px #222222; background-color: #222222b3;">
                    “O pensamento é o ensaio da ação”.<br>
                    <small><i>FREUD</i></small>
                </blockquote>
                <a href="#treinamentos" class="page-scroll btn btn-lg btn-danger fa-2x">Veja mais...</a>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="treinamentos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-treinamentos">Hipnose</h2>
                    <h3 class="section-subheading text-muted">
                    </h3>
                </div>
            </div>
            <div class="row timeline-image ">
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Sobre o Curso:</h4>
                        <p class="text-muted text-justify">
                            A Hipnose é um estado de consciência que envolve atenção focada e
                            consciência periférica reduzida, caracterizado por uma maior capacidade de
                            resposta à sugestão. Desta forma o curso abordará em profundidade a
                            fundamentação teórica e conceitual mostrando passo a passo na prática como
                            aplicar a hipnose em qualquer situação, com rapidez e segurança garantindo
                            consistência aos atendimentos e práticas.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Duração:</h5>
                            <p class="text-muted text-justify">
                                2 encontros de 5hrs.<br>
                                Carga horária total de 10hrs.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5>Para Quem?</h5>
                            <p class="text-muted text-justify">
                                Público em geral que tenha interesse em conhecer e aperfeiçoar técnicas e práticas de
                                hipnose. Pessoas de qualquer área de atuação e do conhecimento, com ou sem experiência.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5>Objetivo:</h5>
                            <p class="text-muted text-justify">
                                Alinhar o conhecimento dos participantes a uma linguagem comum que será adotada
                                durante a capacitação da técnica ampliando os horizontes na perspectiva da
                                utilização do estado hipnótico às questões psicológicas e psicossomáticas.
                                Uma melhor compreensão das relações "cérebro-mente" suscetíveis de serem aplicadas
                                no manejo de diferentes situações do comportamento humano.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <section id="ementa" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading section-heading-treinamentos">Ementa</h2>
                        <h3 class="section-subheading text-muted">
                        </h3>
                    </div>
                </div>
                <div class="row timeline-image ">
                    <div class="col-lg-12 portfolio-item card-container">
                        <div class="row">
                            <div class="col-md-8">
                                <!--<h5></h5>-->
                                <ul class="text-muted">
                                    <li>O que é hipnose;</li>
                                    <li>Freud e a hipnose;</li>
                                    <li>Sintomatologia do transe;</li>
                                    <li>Autoridade para hipnose;</li>
                                    <li>Profissionalismo e ética;</li>
                                    <li>Níveis de hipnose;</li>
                                    <li>O que a hipnose definitivamente não é;</li>
                                    <li>Entendendo as mentes consciente, subconsciente e inconsciente;</li>
                                    <li>Os estados mentais beta, alfa, teta e delta;</li>
                                    <li>Rapport individual e coletivo;</li>
                                    <li>O pre-talk perfeito;</li>
                                    <li>O loop hipnótico;</li>
                                    <li>Pseudo-hipnose: testes e aplicações;</li>
                                    <li>O preparo: Geração de expectativas e pré-hipnose;</li>
                                    <li>Os testes: Eliminando objeções conscientes e subconscientes;</li>
                                    <li>A seleção: Como escolher os sujeitos a serem hipnotizados;</li>
                                    <li>Relaxamento rápido e eficaz;</li>
                                    <li>Indução Rápidas E Instantâneas;</li>
                                    <li>A Tratar: Transtornos De Ansiedade;</li>
                                    <li>A Tratar: Fobias Em Geral;</li>
                                    <li>Indução de Dave Elman Evoluída;</li>
                                    <li>Atalhos da Indução de Dave Elman;</li>
                                    <li>Induções clássicas da hipnose;</li>
                                    <li>Dedos magnéticos;</li>
                                    <li>Olhos colados;</li>
                                    <li>Mãos coladas;</li>
                                    <li>Amnésia partindo da pseudo;</li>
                                    <li>Falso aperto de mão de Dave Elman;</li>
                                    <li>Falso aperto de mão de Richard Bandler;</li>
                                    <li>Quebra de Padrão;</li>
                                    <li>Indução Espiral;</li>
                                    <li>HandDrop indução;</li>
                                    <li>Indução das oito palavras;</li>
                                    <li>Mãos magnéticas;</li>
                                    <li>Armpull indução;</li>
                                    <li>Street hipnose;</li>
                                    <li>Instrução de segurança;</li>
                                    <li>Toque de Charcot;</li>
                                    <li>Aprofundamento do transe;</li>
                                    <li>Indução do barquinho;</li>
                                    <li>Signo de sinal;</li>
                                    <li>Auto hipnose;</li>
                                    <li>Presente hipnótico;</li>
                                </ul>
                            </div>
                            <div class="col-md-4 visible-md visible-lg">
                                <span class="fa-stack fa-6x">
                                    <i class="fa fa-chalkboard-teacher fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <section id="beneficios">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading section-heading-treinamentos">Benefícios</h2>
                        <h3 class="section-subheading text-muted">
                        </h3>
                    </div>
                </div>
                <div class="row timeline-image img-rounded bg-light-gray">
                    <div class="col-lg-12 portfolio-item card-container">
                        <!--<div class="portfolio-caption">-->
                            <!--<h4></h4>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md-9">
                                <ol>
                                    <li><p class="text-muted">Promover o equilíbrio entre os estados consciente e inconsciente do indivíduo.</p></li>
                                    <li><p class="text-muted">Melhorar as emoções como medo, raiva, ciúme, entre outras.</p></li>
                                    <li><p class="text-muted">Ajudar no autoconhecimento, tornando-se conscientes dos seus problemas e da causa deles, fazendo com que seja possível o enfrentamento.</p></li>
                                    <li><p class="text-muted">Motivar a quebra de crenças limitantes.</p></li>
                                    <li><p class="text-muted">Desenvolver estados de alto rendimento.</p></li>
                                    <li><p class="text-muted">Melhorar a capacidade de autoconcentração.</p></li>
                                </ol>
                            </div>
                            <div class="col-md-3 visible-md visible-lg">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-users fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </section>
    </section>