  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-block">
                    <img src="img/communicare_logo_228x39.png" class="img-responsive img-centered" alt="{{site.title}}">
                </div>
                <div class="col-md-6 footer-block">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-6">
                    <span class="copyright">&copy; {{ site.title }} {{ 'now' | date: "%Y" }} | by <a
                        href="www.conttudoweb.com.br" target="_blank">ConTTudOweb</a></span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#privacy_policy" data-toggle="modal"><small>Política de Privacidade</small></a>
                        </li>
                        <li>
                            <a href="#cookie_declaration" data-toggle="modal"><small>Declaração de Cookie</small></a>
                        </li>
                        <!--<li><a href="#">Terms of Use</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="whatsapp-fixo visible-xs">
        <a href="https://api.whatsapp.com/send?phone=5543996033611&text=Tenho%20interesse%20no%20treinamento%20que%20vi%20em%20www.communicaretreinamentos.com.br!">
            <img src="img/WhatsApp_Logo.png" width="40px" alt="Fale Conosco pelo WhatsApp"/>
        </a>
    </div>