    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <blockquote class="intro-lead-in" style="text-shadow: 2px 2px 8px #222222; background-color: #222222b3;">
                    Quer enfrentar seu medo de falar em público?<br>
                    <span class="">SIM, Você Pode!</span>
                </blockquote>
                <blockquote cite="ARISTÓTELES" style="text-shadow: 2px 2px 8px #222222; background-color: #222222b3;">
                    “Somos o que repetidamente fazemos.<br>A excelência, portanto, não é um feito, mas um hábito”.<br>
                    <small><i>ARISTÓTELES</i></small>
                </blockquote>
                <a href="#treinamentos" class="page-scroll btn btn-lg btn-danger fa-2x">Veja mais...</a>
            </div>
        </div>
    </header>
