<!-- About Section -->
    <section id="sobre" class="bg-light-gray">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--<h2 class="section-heading">Nossa incrível equipe</h2>-->
                    <h3 class="section-heading">Tenha certeza que estará nas melhores mãos.</h3>
                    <!--<h3 class="section-subheading text-muted">Tenha certeza que estará nas melhores mãos.</h3>-->
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ member.gravatar }}?s=225" class="img-responsive img-circle" alt="{{ member.name }}">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank">
                                    <i class="fab fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <p class="large text-muted">
                        {{ member.description | newline_to_br }}
                    </p>
                    <hr>
                    {% if member.page %}
                    <a href="/{{ member.page }}"><span class="text-black text-underline">Click aqui e conheça mais sobre {{ member.name }}</span></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--<h2 class="section-heading">Sobre a Communicare Treinamentos</h2>-->
                    <h3 class="section-heading">Conheça o motivo de existirmos.</h3>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Missão</h4>
                    <p class="text-muted text-justify">Desenvolver o conhecimento sobre oratória e comunicação através de técnicas da Programação Neuro Linguística. Trabalhar em cada ser a sua essência, buscando a excelência humana, rompendo barreiras, gerando oportunidades e maximizando potencialidades.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Visão</h4>
                    <p class="text-muted text-justify">Ser referência em treinamentos de comunicação, reconhecida pela sua qualidade e inovação.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Valores</h4>

                    <p class="text-muted text-justify">
                        Criar relacionamentos abertos e honestos por meio da comunicação;<br>
                        Tornar-se verdadeiramente interessado em você;<br>
                        Honestidade;<br>
                        Ser ético;<br>
                        Resultados;<br>
                        Criatividade.
                    </p>
                </div>
            </div>


            <!--<div class="row">-->
                <!--<div class="col-xs-3 text-right">-->
                    <!--<span class="fa-stack fa-3x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-rocket fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="col-xs-9">-->
                    <!--<h4 class="service-heading">Missão</h4>-->
                    <!--<p class="text-muted text-justify">Desenvolver o conhecimento sobre oratória e comunicação através de técnicas da Programação Neuro Linguística. Trabalhando em cada ser a sua essência, buscando a excelência humana, rompendo barreiras, gerando oportunidades e maximizando potencialidades.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3 text-right">-->
                    <!--<span class="fa-stack fa-3x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-eye fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="col-xs-9">-->
                    <!--<h4 class="service-heading">Visão</h4>-->
                    <!--<p class="text-muted text-justify">Ser referência em treinamentos de comunicação, reconhecida pela sua qualidade e inovação.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3 text-right">-->
                    <!--<span class="fa-stack fa-3x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="col-xs-9">-->
                    <!--<h4 class="service-heading">Valores</h4>-->
                    <!--<p class="text-muted text-justify">-->
                        <!--Criar relacionamentos abertos e honestos através da comunicação;<br>-->
                        <!--Tornar-se verdadeiramente interessado em você;<br>-->
                        <!--Honestidade;<br>-->
                        <!--Ser ético;<br>-->
                        <!--Resultados;<br>-->
                        <!--Criatividade.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>