<!-- Portfolio Grid Section -->
    <section id="treinamentos" class="card-dark-gradiente">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Oratória: Comunicação e Expressão</h2>
                    <h3 class="section-subheading text-muted">Conheça um pouco mais sobre nosso treinamento!</h3>
                </div>
            </div>





            <div class="row timeline-image ">
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Sobre o Treinamento:</h4>
                        <!--<p class="text-muted"></p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Duração:</h5>
                            <p class="text-muted">
                                5 encontros de 3hrs.<br>
                                Carga horária total de 15hrs.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5>Para Quem:</h5>
                            <p class="text-muted">
                                Público em geral que tenha interesse em aperfeiçoar técnicas e práticas de oratória e comunicação verbal, corporal e emocional. Pessoas  de qualquer área de atuação e do conhecimento, com ou sem experiência.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5>Objetivos:</h5>
                            <p class="text-muted">
                                Proporcionar ao participante o desenvolvimento da habilidade de falar em público para o fortalecimento do processo de comunicação, aperfeiçoando as técnicas, habilidades e competências da comunicação verbal, corporal e emocional. Tornar o participante mais persuasivo, objetivo e dinâmico, ampliando o seu desenvolvimento pessoal e profissional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row timeline-image "> <!-- card-dark-gradiente -->
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Ementa:</h4>
                        <!--<p class="text-muted">Comunicação e Expressão.</p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Técnicas de Apresentação:</h5>
                            <ul class="text-muted">
                                <li>Fatores Psicológicos: medo, ansiedade e nervosismo;</li>
                                <li>Entendendo o funcionamento da nossa mente para chegar a um estado desejado;</li>
                                <li>Como iniciar uma apresentação em público;</li>
                                <li>Como avaliar as condições da apresentação;</li>
                                <li>A escolha do tema;</li>
                                <li>Como obter a simpatia e confiança do público;</li>
                                <li>Como apresentar o tema principal;</li>
                                <li>Como evitar os "brancos";</li>
                                <li>Técnicas de persuasão;</li>
                                <li>Como concluir o tema;</li>
                                <li>Credibilidade e confiança;</li>
                                <li>Como enfrentar perguntas;</li>
                                <li>Comportamento visual;</li>
                                <li>O tempo;</li>
                            </ul>
                        </div>
                        <div class="col-md-4 visible-md visible-lg">
                            <span class="fa-stack fa-6x">
                                <i class="fa fa-chalkboard-teacher fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 visible-md visible-lg">
                            <span class="fa-stack fa-6x">
                                <i class="fa fa-microphone fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-md-8 pull-right">
                            <h5>Comunicação Verbal:</h5>
                            <ul class="text-muted">
                                <li>A dinâmica da fala e os possíveis impactos no ouvinte;</li>
                                <li>Como modelar os principais parâmetros da voz e da fala que afetam a qualidade e a intenção do discurso;</li>
                                <li>Técnicas para melhorar a clareza das informações transmitidas;</li>
                                <li>Como e o que não falar em uma apresentação;</li>
                                <li>Cuidados com a voz;</li>
                                <li>Eloquência e persuasão;</li>
                                <li>A importância da emoção na apresentação.</li>
                                <li>Vicios de linguagem;</li>
                                <li>Vocabulário, pronúncia e voz;</li>
                                <li>Técnicas de microfone;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Expressão Corporal:</h5>
                            <ul class="text-muted">
                                <li>Desenvolver e ampliar a comunicação não-verbal;</li>
                                <li>O corpo como instrumento para expressar ideias;</li>
                                <li>Adquirir consciência, domínio corporal e noção espacial;</li>
                                <li>Melhorar a postura corporal: gestual e facial;</li>
                                <li>Estabelecer a congruência (harmonia entre corpo, mente e fala);</li>
                                <li>Desinibir e desbloquear;</li>
                                <li>O que fazer com os pés, pernas e as mãos;</li>
                                <li>Potencializar a expressividade da fala (acompanhar a fala com o objetivo de controlar o tema da conversa, a atenção do ouvinte, pontuar, etc.);</li>
                                <li>Técnicas de relaxamento mental e corporal.</li>
                            </ul>
                        </div>
                        <div class="col-md-4 visible-md visible-lg">
                            <span class="fa-stack fa-6x">
                                <i class="fa fa-handshake fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <section id="beneficios">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Benefícios</h2>
                    <h3 class="section-subheading text-muted">Conheça alguns dos benefícios do nosso treinamento.</h3>
                </div>
            </div>
            <div class="row timeline-image card bg-light-gray">
                <div class="col-md-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Para quem deseja ser palestrante:</h4>
                        <!--<p class="text-muted"></p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <ol>
                                <li><p class="text-muted">Conhecimentos necessários para realizar grandes palestras.</p></li>
                                <li><p class="text-muted">Orientação técnica e comercial para uma carreira de sucesso.</p></li>
                                <li><p class="text-muted">Aprenda a atrair a atenção do público desejado.</p></li>
                                <li><p class="text-muted">Conduzir o aluno a ser uma autoridade na área.</p></li>
                            </ol>
                        </div>
                        <div class="col-md-3 visible-md visible-lg">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-chalkboard-teacher fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row timeline-image card bg-light-gray">
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Para vida pessoal:</h4>
                        <!--<p class="text-muted"></p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <ol>
                                <li><p class="text-muted">Superação do medo de falar em público.</p></li>
                                <li><p class="text-muted">Fortalecimento da autoconfiança.</p></li>
                                <li><p class="text-muted">Desenvolver a comunicação em todas as áreas da vida.</p></li>
                                <li><p class="text-muted">Utilizar a Inteligência Emocional na comunicação.</p></li>
                            </ol>
                        </div>
                        <div class="col-md-3 visible-md visible-lg">
                            <span class="fa-stack fa-5x">
                                <!--<i class="fa fa-smile fa-stack-1x"></i>-->
                                <i class="fa fa-users fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row timeline-image card bg-light-gray">
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Para vida profissional:</h4>
                        <!--<p class="text-muted"></p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <ol>
                                <li><p class="text-muted">Tranquilidade para expressar seus pontos de vista.</p></li>
                                <li><p class="text-muted">Autoconfiança.</p></li>
                                <li><p class="text-muted">Maior capacidade de realização.</p></li>
                                <li><p class="text-muted">Fortificação do trabalho em equipe.</p></li>
                                <li><p class="text-muted">Alta performance profissional.</p></li>
                            </ol>
                        </div>
                        <div class="col-md-3 visible-md visible-lg">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-briefcase fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row timeline-image card bg-light-gray">
                <div class="col-lg-12 portfolio-item card-container">
                    <div class="portfolio-caption">
                        <h4>Para líderes e gestores:</h4>
                        <!--<p class="text-muted"></p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <ol>
                                <li><p class="text-muted">Aumento do comprometimento geral da equipe.</p></li>
                                <li><p class="text-muted">Formação de líderes que se comunicam melhor com sua equipe.</p></li>
                                <li><p class="text-muted">Fortalecimento da sua capacidade de liderança e persuasão.</p></li>
                                <li><p class="text-muted">Formação de uma liderança inspiradora.</p></li>
                            </ol>
                        </div>
                        <div class="col-md-3 visible-md visible-lg">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-user-tie fa-stack-1x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </section>
