    <section id="formacao" style="padding: 50px 0px 10px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading section-heading-treinamentos text-underline">Formações:</h2>
                </div>
                <div class="col-lg-12">
                    <ul class="text-muted text-justify">
                        <li>Dale Carnegie Training;</li>
                        <li>Practitioner Internacional em PNL;</li>
                        <li>Hipnólogo;</li>
                        <li>Eneagrama;</li>
                        <li>Palestrante e Orador Profissional;</li>
                        <li>Diamond Training;</li>
                        <li>Oratória Avançada;</li>
                        <li>Psicopedagogia Clínica e Institucional;</li>
                        <li>MBA em Gestão de Projetos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="galeria" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Galeria de Imagens</h3>
                </div>
            </div>
            <div id="gallery" style="overflow: -webkit-paged-y; padding-bottom: 10px;" class="old_bg-light-gray">

                {% include _image_gallery.html
                src="/img/palestras/thumb06.jpeg"
                data-fullsrc="/img/palestras/img06.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb08.jpeg"
                data-fullsrc="/img/palestras/img08.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb11.jpeg"
                data-fullsrc="/img/palestras/img11.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb12.jpeg"
                data-fullsrc="/img/palestras/img12.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb13.jpeg"
                data-fullsrc="/img/palestras/img13.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb15.jpeg"
                data-fullsrc="/img/palestras/img15.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb16.jpeg"
                data-fullsrc="/img/palestras/img16.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb17.jpeg"
                data-fullsrc="/img/palestras/img17.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb18.jpeg"
                data-fullsrc="/img/palestras/img18.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb19.jpeg"
                data-fullsrc="/img/palestras/img19.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb20.jpeg"
                data-fullsrc="/img/palestras/img20.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb21.jpeg"
                data-fullsrc="/img/palestras/img21.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb22.jpeg"
                data-fullsrc="/img/palestras/img22.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb23.jpeg"
                data-fullsrc="/img/palestras/img23.jpeg"%}

                {% include _image_gallery.html
                src="/img/palestras/thumb24_turma_oratoria_setembro_2018.jpeg"
                alt="Encerramento turma do Treinamento de Oratória de Setembro de 2018"
                title="Turma de Setembro de 2018 do Treinamento de Oratória"
                data-desc="Encerramento e entrega dos certificados"
                data-category="Treinamentos"
                data-fullsrc="/img/palestras/img24_turma_oratoria_setembro_2018.jpeg"%}
            </div>
        </div>
    </section>